dialog[open] {
    scale: 1;
    transition: scale .3s ease-in-out;

    @starting-style {
        scale: 0;
    }
}

dialog {
    transition: scale .3s ease,
    display .3s ease allow-discrete;
    scale: 0;
}